	<footer>
		<div class="l-footer">
			<!--@MODX:
				{{gotop}}
			->
			<!--@IGNORE:BEGIN-->
				<% include _gotop %>
			<!--@IGNORE:END-->
			<div class="l-footer_inner">
				<div class="logo">
					<a href=""></a>
				</div>
			</div>
		</div>
		<div class="l-footer_bottom">
			<div class="l-footer_bottom_inner">
				<div class="footer_nav_minor">
					<ul class="flLeft">
						<li><a href="">サイトポリシー</a></li>
						<li><a href="">個人情報保護方針</a></li>
					</ul>
				</div>
				<p class="copyright"><small>&copy; </small></p>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
