	<header class="l-header">
		<div class="l-header_inner">
			<div class="header_logo"><h1><a href="/"><img src="" width="" height="" alt=""></a></h1></div>
			<div class="header_nav_minor">
				<a href="">サイトマップ</a>
			</div>
			<div class="header_search">
			</div>
		</div>
	</header>
	<div class="gnav  pconly">
		<ul class="flLeft">
			<!--@MODX:
				{{gnav}}
			-->
			<!--@IGNORE:BEGIN-->
				<% include _gnav %>
			<!--@IGNORE:END-->
		</ul>
	</div>
