<% var title = "index"; %>
<div class="cover_wrapper">
	<div class="cover">
		<img src="content/images/0index/top_cover_pc.jpg" class="w100p switch">
	</div>
</div>

<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
